<h1>
  Rooms
</h1>

<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= link_to room.name, room_url(room) %>
    </li>
  <% end %>
</ul>

<h3>Log</h3>
<ul id="logged_users"></ul>

Logged as <%= current_user.username %>
